.headerContainer {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 8rem 0 2em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--background-outline);
}

.menuContainer {
  padding-top: 1rem;
  display: flex;
  height: 100%;

  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      margin-right: 1.5rem;
      font-size: 1.5rem;
      color: var(--text-outline);
      
      svg {
        transition: transform .2s;
        
        &:hover {
          cursor: pointer;
          transform: translateY(-4px);
        }
      }
    }
  }
}

.profileContainer {
  height: 100%;
  display: flex;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: .4rem .5rem 0;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      color: var(--white);
      line-height: 1rem;
    }

    p {
      font-size: .7rem;
      color: var(--text-outline);
      line-height: .5rem;
    }
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 2rem;
  }
}